body
{
height: 100vh;
padding-bottom: 29px;
margin: auto;}

.compensate-for-scrollbar
{
    margin: auto !important;
}

/* Fonts */
h1, h2, h3, h4, p {
  font-family: 'Lato', sans-serif;
}

pre {
  font-family: 'Courier Prime', monospace;
  font-size: 0.9em;
  text-align: center;
  margin: 0;
}
.gallery-header {
  font-family: 'Lato', sans-serif !important;
}

p {margin: 0;}

/* NAVBAR start */

.navbar a {
  font-family: 'Lato', sans-serif !important;
  font-size: 1.3em;
}

.dropdown-toggle::after {
    display: none !important;
}

/* NAVBAR end */

ul
{
list-style-type: none;
margin: 0;
padding-left: 0;
}

@media (max-width: 1000px) {
    .navbar-toggler {
      border: none;
      outline: none;
    }
}

button:focus {

outline: none;
outline: 5px auto -webkit-focusring-color;

}

/* Media queries - XS to L */

/* Large Devices, Tablets, computers */

    @media (min-width:75em)
    {

      body {
        margin: auto;
        width: 65%;
      }
      .carousel-inner {max-width: 70%;
      margin:auto;}
    }

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
}

.nav-item {
   text-align: right;
   padding-right: 0.3125em;
}

/* navbarDropdown color; */
.navbar .dropdown-menu {
  background-color: white;
  font-size: 0.8em;
  padding-top: 0;
}

.dropdown li a:hover {
background-color:white;
font-style: italic;
}

/* .dropdown:hover>.dropdown-menu {
 display: block;
} */

.dropdown-menu {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: right;
    align-items: flex-end;
}

.dropdown-menu a {
  padding: 0.2em;
}

/* Center align - About */
.jumbotron .vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
  min-height: calc(100% - 20em); /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
        -ms-box-align : center;
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;

  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.

     Therefore, we should use the following declarations to get it centered again */
             -ms-box-pack : center;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.container {
  background-color: white;
  color: black;
}

.email {
  color:black;
}

.email:hover {
  color:gray;
}

/* Border on gallery images */
/* .img-fluid {
  border: solid !important;
  border-width: 0.2px !important;
  border-color: black !important;
} */

footer {
  text-align: right;
  padding: 0 0.5em 0.5em 0;
  font-size: 0.7em;
}
